@use "../system/colors";
@use "../system/text";

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
  margin-bottom: 2rem;
  font-size: text.$text-md;

  .breadcrumb-link {
    color: colors.$light-blue;
    text-decoration: none;
    margin-top: 1px;
    @extend .font-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-divider {
    margin: 0 0.3rem;
  }
}
