@use '../system/colors';
@use '../system/system';
@use '../system/text';

%btn-base {
  border-radius: 5px;
  padding: 0.56rem 1rem;
  width: fit-content;
  height: 3rem;
  @extend .font-medium;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  font-size: text.$text-md;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  @media (max-width: system.$screen-base) {
    font-size: text.$text-base;
    height: 2.5rem;
    padding: 0.25rem 0.75rem;
  }

  @media (max-width: system.$screen-sm) {
    padding: 0.25rem 0.5rem;
  }
}

.btn-dark-primary {
  @extend %btn-base;
  background: colors.$dark-purple;
  border: 3px solid colors.$dark-purple;
  color: colors.$white;

  &:hover {
    color: colors.$dark-purple;
    background: transparent;
  }
}

.btn-dark-secondary {
  @extend %btn-base;
  background: transparent;
  border: 3px solid colors.$dark-purple;
  color: colors.$colors-text;

  &:hover {
    background: colors.$dark-purple;
    color: colors.$white;
  }
}

.btn-blue-primary {
  @extend %btn-base;
  background: colors.$light-blue;
  border: 3px solid colors.$light-blue;
  color: colors.$white;

  &:hover {
    color: colors.$light-blue;
    background: colors.$white;
  }
}

.btn-blue-secondary {
  @extend %btn-base;
  border: 3px solid colors.$light-blue;
  background: colors.$white;
  color: colors.$colors-text;

  &.transparent {
    background: transparent;
    border: 3px solid colors.$light-blue;
    color: colors.$white;
  }

  &:hover {
    background: colors.$light-blue;
    border: 3px solid colors.$white;
    color: colors.$white;
  }
}
