@use '_pills.scss';
@use '_form.scss';
@use '_tooltip.scss';
@use '_animations.scss';
@use '_modal.scss';
@use '_buttons.scss';
@use '_breadcrumb.scss';
@use "../system/colors";
@use "../system/mixins";
@use "../system/system";
@use "../system/text";

.custom-container {
  width: 85%;
  max-width: 1400px;
  margin: auto;

  @media (max-width: 1180px) {
    width: 92%;
  }
}

.section-title {
  margin-bottom: 1rem;

  small {
    font-size: text.$text-lg;
    color: colors.$baby-blue;
  }
  h2 {
    margin: -0.5rem 0 0.6rem -0.12rem;
    font-size: text.$text-4xl;
    @extend .font-medium;
  }
  .underline-section {
    @include mixins.underline-mixin(colors.$light-blue, 110px);
  }

  @media (max-width: system.$screen-base) {
    margin-bottom: 0.5rem;
    small {
      font-size: text.$text-md;
    }
    h2 {
      font-size: text.$text-3xl;
      line-height: 3.25rem;
      margin-bottom: 0.4rem;
    }
  }
}

.section-title-white {
  @extend .section-title;
  small {
    color: colors.$white;
  }
  h2 {
    color: colors.$white;
  }
  .underline-section {
    @include mixins.underline-mixin(colors.$white, 120px);
  }

  @media (max-width: system.$screen-base) {
    &:not(.always-white) {
      small {
        color: colors.$baby-blue;
      }
      h2 {
        color: colors.$colors-text;
      }
      .underline-section {
        @include mixins.underline-mixin(colors.$light-blue, 110px);
      }
    }
  }
}

.Toastify__toast-container {
  .toastify-custom {
    font-size: text.$text-base;
    font-family: text.$lato-font;
    width: fit-content;
    min-width: 320px;
    padding: 0.5rem 0.8rem 0.5rem 1rem;

    @media (max-width: system.$screen-sm) {
      min-width: unset;
      width: 300px;
    }
  }

  .submit-form-success {
    background: colors.$light-blue;
    color: colors.$white;
    font-size: text.$text-md;

    .Toastify__close-button {
      color: colors.$white;
      opacity: 0.87;
    }
  }

  .error-toast {
    font-size: text.$text-base;
  }

  .Toastify__progress-bar {
    background: colors.$dark-purple;
  }
}
