@use "../system/colors";
@use "../system/system";
@use "../system/text";

body.ReactModal__Body--open {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  .ReactModalPortal {
    .ReactModal__Overlay {
      opacity: 0;
      transition: opacity 400ms ease;
    }

    .ReactModal__Overlay--after-open {
      opacity: 1;
      transition: opacity 200ms ease-in-out;
    }

    .ReactModal__Overlay--before-close {
      opacity: 0;
    }

    .ReactModal__Content {
      opacity: 0;
      transform: translateY(50px);
      transition: transform 400ms ease, opacity 200ms ease;
    }

    .ReactModal__Content--after-open {
      opacity: 1;
      transform: translateY(0);
      transition: transform 400ms ease, opacity 200ms ease;
    }

    .ReactModal__Content--before-close {
      opacity: 0;
      transform: translateY(0);
      transition: transform 400ms ease-out, opacity 200ms ease;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: colors.$white;
  width: 80%;
  max-width: 1000px;
  height: fit-content;
  max-height: 96%;
  margin: auto;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: system.$screen-base) {
    width: 84%;
  }

  @media (max-width: system.$screen-sm) {
    width: 87%;
  }

  @media (max-width: system.$screen-xs) {
    width: 90%;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  .modal-close {
    align-self: flex-end;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 19px;
    padding: 0.5rem;
    transition: all 0.2s linear;

    &:hover {
      transform: scale(0.9);
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    margin: 2rem;

    .modal-title {
      text-align: start;
      font-size: text.$text-3xl;
      margin-bottom: 1rem;

      @media (max-width: system.$screen-base) {
        font-size: text.$text-xl;
      }
    }

    .modal-picture {
      border-radius: 5px;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      box-shadow: 3px 3px 10px rgba(6, 6, 6, 0.694);
      border: 1px solid colors.$dark-purple;
    }

    .modal-description {
      p {
        font-size: 18px;
        letter-spacing: 0.5px;
      }
      a {
        text-decoration: none;
        color: colors.$deep-ocean-blue;
        @extend .font-bold;
      }
    }

    .modal-buttons {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      & > * {
        margin-bottom: 0.5rem;
      }

      & > *:not(:first-child) {
        margin-left: 0.5rem;
      }
    }

    @media (max-width: system.$screen-base) {
      margin: 1rem 0.5rem 0.5rem 0.5rem;
    }
  }
}
