@use "../system/colors";
@use "../system/system";
@use "../system/text";

.tooltip-container {
  position: relative;
  display: inline-block;

  &:hover .tooltip-popup {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-popup {
    visibility: hidden;
    width: fit-content;
    max-width: 350px;
    background-color: colors.$dark-purple-alpha;
    color: colors.$white;
    text-align: center;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.35s ease-in-out;
    font-size: text.$text-base;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: colors.$dark-purple-alpha transparent transparent transparent;
    }

    @media (max-width: system.$screen-base) {
      font-size: text.$text-sm;
    }
  }
}
