#footer {
	background: #2f2e41;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1.8rem;
	text-align: center;

	.scroll-to-top {
		width: 100%;
		background: #3c3b53;
		outline: none;
		border: none;
		color: white;
		font-family: $lato-font;
		font-size: 15px;
		padding: 0.7rem 0;
		cursor: pointer;
		&:hover {
			background: #474663;
		}
	}

	.icon-set {
		display: flex;
		margin-bottom: 1rem;
		padding-top: 2rem;

		.social {
			background: #363636;
			padding: 0.5rem;
			transition: all 0.4s;
			border-radius: 5px;
			a {
				color: white;
				svg {
					width: 35px;
					height: 35px;
				}
			}
		}
		.social:first-child {
			margin-right: 1rem;
		}
		.social:hover {
			a {
				color: $light-blue;
			}
		}
	}

	.credit {
		color: $white;
		font-weight: 300;
		display: flex;
		flex-direction: column;

		small {
			margin-bottom: 0.4rem;
		}

		a {
			color: white;
			font-weight: 500;
		}
	}
}
