@use "system/colors";
@use "system/text";

#footer {
  background: colors.$dark-purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.8rem;
  text-align: center;

  button.scroll-to-top {
    width: 100%;
    background: colors.$pastel-muted-purple;
    outline: none;
    border: none;
    color: colors.$white;
    font-size: text.$text-base;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #404057;
    }
  }

  .social-container {
    display: flex;
    margin: 2rem 0 1rem 0;

    .social {
      background: colors.$pastel-gray;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 5px;

      &:first-child {
        margin-right: 1rem;
      }

      &:hover svg {
        color: colors.$light-blue;
      }

      svg {
        transition: all 0.3s;
        color: colors.$white;
        width: 35px;
        height: 35px;
      }
    }
  }

  .credit-container {
    color: colors.$white;
    @extend .font-thin;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    small {
      margin-bottom: 0.4rem;
    }

    a {
      color: colors.$white;
      @extend .font-medium;
    }
  }
}
