@use "system/colors";
@use "system/system";
@use "system/text";

%nav-common {
  display: flex;
  height: 60px;
  transition: all 0.45s;
  padding: 0 1.4rem;
  margin: 0rem auto 1rem auto;

  a.navbar-brand {
    font-size: text.$text-xl;
    color: colors.$white;
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    @extend .font-bold;

    &:hover {
      color: rgb(211, 211, 211);
    }
  }
}

nav#home-nav {
  @extend %nav-common;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  &.affix {
    background: colors.$dark-purple-alpha;

    a.navbar-brand {
      visibility: visible;
    }
  }

  .menu-button {
    display: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
      color: colors.$white;
    }
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    ul.navbar-nav {
      display: flex;

      li.nav-item {
        padding: 0 0.5rem;
        list-style-type: none;

        a.nav-link {
          color: colors.$white;
          font-size: text.$text-md;
          text-decoration: none;
          @extend .font-normal;
          width: fit-content;
          height: fit-content;
          margin-left: 1rem;
          padding: 0;
          transition: all 0.35s;
          border-bottom: 4px solid transparent;

          &:hover {
            border-bottom: 4px solid colors.$light-blue;
          }

          &.active-nav {
            border-bottom: 4px solid colors.$light-blue;
          }
        }
      }
    }
  }

  .nav-links-m {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4rem;
    right: 1rem;
    text-align: center;
    background: colors.$dark-purple-alpha;
    border-radius: 10px;
    width: 40%;
    min-width: 280px;

    ul.navbar-nav {
      list-style-type: none;

      li.nav-item {
        padding: 1rem;

        a.nav-link {
          cursor: pointer;
          text-decoration: none;
          color: colors.$white;
          font-size: text.$text-md;
          @extend .font-normal;
          text-align: center;
          transition: all 0.35s;
          border-bottom: 4px solid transparent;

          &:hover {
            border-bottom: 4px solid colors.$light-blue;
          }
        }
      }
    }

    @media (max-width: system.$screen-xs) {
      width: 90%;
      min-width: unset;
      margin: 0 auto;
    }
  }

  @media (max-width: system.$screen-base) {
    justify-content: space-between;

    .menu-button {
      display: block;
    }
    .nav-links {
      display: none;
    }
  }
}

nav#projects-nav {
  @extend %nav-common;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: colors.$dark-purple-alpha;

  a.navbar-brand {
    visibility: visible;
  }

  a.nav-link {
    color: colors.$white;
    font-size: text.$text-md;
    text-decoration: none;
    @extend .font-normal;
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
    padding: 0;
    transition: all 0.35s;
    border-bottom: 4px solid transparent;

    &:hover {
      border-bottom: 4px solid colors.$light-blue;
    }

    &.active-nav {
      border-bottom: 4px solid colors.$light-blue;
    }
  }
}
