@use "system/colors";
@use "system/system";
@use "system/text";

.projects-page {
  .all-projects {
    margin-bottom: 3rem;

    .filter-button-row {
      margin-bottom: 3rem;

      .filter-button {
        margin-right: 0.5rem;
        padding: 0.4rem 1rem 0.45rem 1rem;
        background: colors.$dark-purple;
        border: 2px solid colors.$dark-purple;
        color: colors.$white;
        border-radius: 30px;
        font-size: text.$text-base;
        cursor: pointer;
        outline: none;
        @extend .font-medium;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 2px solid colors.$light-blue;
        }

        &.selected {
          background: colors.$light-blue;
        }

        @media (max-width: 600px) {
          font-size: text.$text-sm;
          padding: 0.4rem 0.7rem 0.45rem 0.7rem;
        }
      }
    }

    .all-projects-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
      column-gap: 1.5rem;
      row-gap: 2.5rem;

      .mobile-card-description {
        display: none;
      }

      .project-card {
        position: relative;
        transition: all 0.3s;
        outline: none;
        border: none;
        cursor: pointer;

        &.hide {
          display: none;
        }
        &.active {
          display: block;
        }

        .project-card-img {
          display: block;
          box-shadow: 3px 4px 14px 0 rgba(41, 41, 41, 0.491);
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          border-radius: 5px;
        }

        .project-card-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(78, 96, 167, 0.65);
          color: colors.$white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          text-align: center;
          transition: opacity 0.25s;
          border-radius: 5px;
          cursor: pointer;
          backdrop-filter: blur(2px);

          & > * {
            transform: translateY(20px);
            transition: transform 0.3s;
          }

          &:hover {
            opacity: 1;
          }

          &:hover > * {
            transform: translateY(0);
          }

          .project-card-title {
            text-shadow: 1px 1px 3px colors.$black;
            width: 95%;
            margin: 0 auto;
            font-size: text.$text-2xl;
            @extend .font-bold;

            @media (max-width: system.$screen-sm) {
              font-size: text.$text-xl;
            }

            @media (max-width: system.$screen-xs) {
              font-size: text.$text-lg;
            }
          }

          .project-card-description {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 0.25em;

            .pills-container {
              justify-content: center;
              margin: 0 0.25rem;

              .pill {
                box-shadow: 2px 2px 6px rgba(4, 31, 68, 0.644);

                @media (max-width: system.$screen-base) {
                  padding: 0.3rem 0.7rem 0.45rem 0.6rem;
                  font-size: text.$text-base;
                }

                @media (max-width: system.$screen-sm) {
                  font-size: 15px;
                }

                @media (max-width: system.$screen-xs) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      @media (max-width: system.$screen-base) {
        row-gap: 0.5rem;

        .mobile-card-description {
          display: block;
          cursor: pointer;
          margin-bottom: 2.5rem;

          .project-card-title {
            font-size: text.$text-lg;
          }
        }

        .project-card .project-card-text {
          display: none;
        }
      }

      @media (max-width: system.$screen-sm) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      }
    }
  }
}
