@use "system/colors";
@use "system/text";

.tartle-test {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    border: 2px solid colors.$dark-purple-alpha;
    border-radius: 5px;
    height: 2rem;
    width: 40rem;
    font-size: 20px;
    padding: 0.2rem;
    font-family: text.$lato-font;
  }
}
