@use 'system/system';
@use 'components/components';
@use '_navbar.scss';
@use '_homePage.scss';
@use '_projectsPage.scss';
@use '_footer.scss';
@use '_loadingIconTwo.scss';
@use 'system/colors';

html {
  color: colors.$colors-text;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

// === Browser Changes ================================
::selection {
  background: colors.$highlight-purple;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(133, 135, 160, 0.4);
}

::-webkit-scrollbar-thumb {
  background: colors.$dark-purple-alpha;
  border-radius: 50px;
}
