@import './system/system';
@import './components/components';
@import '_navbar.scss';
@import '_homePage.scss';
@import '_projectsPage.scss';
@import '_footer.scss';
@import '_loadingIconTwo.scss';
@import '_tartleTest.scss';

html {
  color: $colors-text;
  font-size: 16px;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

// === Browser Changes ================================
::selection {
  background: $highlight-purple;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(133, 135, 160, 0.4);
}

::-webkit-scrollbar-thumb {
  background: $dark-purple-alpha;
  border-radius: 50px;
}
