// Primary
// $light-blue: #3b87ca;
$baby-blue: #2e70b8;
$light-blue: #3378c1;
$deep-ocean-blue: #134275;
$dark-blue: #172b40;

// Secondary
$pastel-purple: #b78be0;
$purple: #9873ba;
$pastel-purple: #6e4b9f;
$highlight-purple: #cc9afa8f;
$grape-purple: #644c7a;
$wine-purple: #30243b;
$dark-purple: #2f2e41;
$dark-purple-alpha: #2f2e41d3;

// Supporting
$light-gray: #f1f1f1;
$colors-text: #000033;

$white: #fff;
$black: #000;
