$screen-2xs: 370px;
$screen-xs: 480px;
$screen-sm: 600px;
$screen-base: 768px;
$screen-md: 900px;
$screen-lg: 1024px;
$screen-xl: 1200px;

@use '_resets.scss';
@use '_colors.scss';
@use '_text.scss';
@use '_mixins.scss';
